.section_container_terms {
  /* background-image: url(https://treact.owaiskhan.me/static/media/stats-illustration.89e20edc.svg); */
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 76px;
  padding-bottom: 48px;
  animation: fadeInAnimation 1s;
  background-color: #4a2abf;
}

.section_container_terms_wrapper {
  max-width: 1600px;
  margin: auto;
}

.section_banner_terms {
  height: 300px;
  display: flex;
  align-items: center;
}

.section_banner_terms h1 {
  font-size: 36px;
  font-family: "Inter", system-ui;
  margin: 24.12px 0px;
  color: #fff;
  font-weight: 900;
}

.section_item_terms p {
  font-size: 17.6px;
  font-family: "Inter", system-ui;
  font-weight: 500;
  color: #fff;
  text-align: justify;
  line-height: normal;
}

.section_banner_terms_item h4 {
  font-size: 26px;
  font-family: "Inter", system-ui;
  font-weight: 800;
  margin: 0px 0px 8px;
  color: #fff;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1650px) {
  .section_banner_terms {
    justify-content: center;
  }

  .section_banner_terms_item h4 {
    text-align: center;
  }

  .section_banner_terms h1 {
    padding: 0px 12px;
  }

  .section_banner_terms_item h4 {
    padding: 0px 12px;
  }

  .section_item_terms p {
    padding: 0px 12px;
  }
}
